## Loading Libraries

In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
df1= pd.read_excel('Data/Films Classified 2022-2023.xlsx', header=2, index_col=0)
df1.head()

,FILM TITLE,CLASS OF FILM,GENRE,SYNOPSIS,RATING,CAI,JUSTIFICATION,DURATION(MINS),DATE CLASSIFIED,COUNTRY OF ORIGIN,VENUE,CLIENT,CONTACT,PLATFORM,WEBSITE
NO,,,,,,,,,,,,,,,
1,Rashtra Kavach OM,NaN,Action,Rashtra Karachi OM is an action Indian film de...,16,"V,A,S","Pain inflicting violence scenes,cold blood mur...",135,2022-01-07 00:00:00,India,Westgate,Century pictures,cedric@centurycinemax.net,Cinema,NaN
2,Rockecty -thr Nambi effect,NaN,Docu-drama,"Nambi, a patriotic scientist struggled hard to...",16,"V,A,L",The film contains use of violence and alcohol....,157,2022-01-07 00:00:00,India,Sarit Centre,Century pictures,cedric@centurycinemax.net,Cinema,NaN
3,THOR-Love and Thunder,NaN,Action- Adventure,Thor embarks on a journey unlike anything he ...,16,"V,N,S",the film contains violent scenes coupled with ...,120,2022-01-07 00:00:00,USA,Green span,Crimson Multimedia,Collins@crimsonmultimedia.com,Cinema,NaN
4,Kyalo culture episode 4,NaN,Reality Show,The story of Betty Kyallo continues ...this ep...,GE,-,minimal classifiable elements hence suitable f...,28,2022-04-07 00:00:00,Kenya,office/kfcb,Young Rich Tv,caroline@youngrichtv.com,Showmax,NaN
5,Roast house Sanaa,NaN,Comedy,Sanaipei Tande is brought into roasting seat w...,16,"L,A","the film contains use of vulgar language, use ...",29,2022-04-07 00:00:00,Kenya,office/kfcb,Young Rich Tv,caroline@youngrichtv.com,Showmax,NaN

## Previewing the Data
#### Reviewing the data for the financial year 2022-2023

In [9]:
# shape of the dataset
df1.shape

(786, 15)

In [11]:
# Dataset information
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 786 entries, 1 to 786
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   FILM TITLE         786 non-null    object
 1   CLASS OF FILM      0 non-null      float64
 2   GENRE              784 non-null    object
 3   SYNOPSIS           785 non-null    object
 4   RATING             783 non-null    object
 5   CAI                782 non-null    object
 6   JUSTIFICATION      781 non-null    object
 7   DURATION(MINS)     783 non-null    object
 8   DATE CLASSIFIED    720 non-null    object
 9   COUNTRY OF ORIGIN  785 non-null    object
 10  VENUE              786 non-null    object
 11  CLIENT             774 non-null    object
 12  CONTACT            771 non-null    object
 13  PLATFORM           770 non-null    object
 14  WEBSITE            290 non-null    object
dtypes: float64(1), object(14)
memory usage: 98.2+ KB

#### Reviewing the data for the financial year 2023-2024

In [12]:
# loading 2023-2024 dataset
df2= pd.read_excel('Data\Films Classified 2023-2024.xlsx', header=2,index_col=0)
df2.head()

,FILM TITLE,CLASS OF FILM,GENRE,SYNOPSIS,RATING,CAI,JUSTIFICATION,DURATION(MINS),DATE CLASSIFIED,COUNTRY OF ORIGIN,VENUE,CLIENT,CONTACT,PLATFORM,WEBSITE
NO,,,,,,,,,,,,,,,
1,"Kyallo Culture, SN2 EP7",NaN,Reality,Mercy visits a long time friend JB who is the ...,PG,S,Mild sexual reference,27,2023-05-07 00:00:00,Kenya,NaN,NaN,NaN,NaN,NaN
2,This Love +1 Ep 10,NaN,Reality,"Wahu,Nameless,Terence and Milly meet up and ca...",GE,-,Low impact classifiable elements,28,2023-05-07 00:00:00,Kenya,NaN,NaN,NaN,NaN,NaN
3,Circus,NaN,Comedy,The film is about a man who has come of age an...,PG,"V, S, C, O","The has a mild impact on Violence, Crime, Sex,...",160,2023-06-07 00:00:00,India,NaN,NaN,NaN,NaN,NaN
4,Mission Impossible 7,NaN,Action,IMF agent Ethan Hunt is assigned to retrieve h...,16,"V, S, C, O","The has a moderate impact on Violence, Crime, ...",163,2023-10-07 00:00:00,USA,NaN,NaN,NaN,NaN,NaN
5,"Kyallo Culture, SN2 EP8",NaN,Reality,"In this episode, the sisters meet in Bao Box f...",PG,"S, A","The has a mild impact on Violence, Crime, Sex,...",28,13/07/2023,KENYA,NaN,NaN,NaN,NaN,NaN

In [13]:
# shape of the dataset
df2.shape

(1025, 15)

In [14]:
#dataset information
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1025 entries, 1 to 1025
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   FILM TITLE         1023 non-null   object
 1   CLASS OF FILM      0 non-null      float64
 2   GENRE              1009 non-null   object
 3   SYNOPSIS           957 non-null    object
 4   RATING             1008 non-null   object
 5   CAI                706 non-null    object
 6   JUSTIFICATION      780 non-null    object
 7   DURATION(MINS)     922 non-null    object
 8   DATE CLASSIFIED    953 non-null    object
 9   COUNTRY OF ORIGIN  1006 non-null   object
 10  VENUE              124 non-null    object
 11  CLIENT             560 non-null    object
 12  CONTACT            405 non-null    object
 13  PLATFORM           577 non-null    object
 14  WEBSITE            0 non-null      float64
dtypes: float64(2), object(13)
memory usage: 128.1+ KB

#### Reviewing the data for the financial year 2024-2025

In [16]:
df3= pd.read_excel('Data\Films Classified 2024-2025.xlsx', index_col=0)
df3.head()

,FILM TITLE,CLASS OF FILM,GENRE,SYNOPSIS,RATING,CAI,JUSTIFICATION,DURATION(MINS),DATE CLASSIFIED,COUNTRY OF ORIGIN,VENUE,CLIENT,CONTACT,PLATFORM,WEBSITE,Unnamed: 16
NO,,,,,,,,,,,,,,,,
1,Letters for Good Episode 2-Trailer,NaN,Docu-Drama,"Through Safaricom Foundation, Gilbert shares h...",GE,-,No Impact Classifiable Elements,29 Secs,2024-01-07 00:00:00,Kenya,KFCB,Quite Bright Films,NaN,YouTube,uploaded,NaN
2,Letters for Good Episode 2,NaN,Docu-Drama,"Through Safaricom Foundation, Gilbert shares h...",GE,-,No Impact Classifiable Elements,10,2024-01-07 00:00:00,Kenya,KFCB,Quite Bright Films,NaN,YouTube,uploaded,NaN
3,Letters for Good Episode 3,NaN,Docu-Drama,Gideon Wafula a businessman narrates how Safar...,GE,-,No Impact Classifiable Elements,10,2024-01-07 00:00:00,Kenya,KFCB,Quite Bright Films,NaN,YouTube,uploaded,NaN
4,Sisi Wote ni Mabingwa,NaN,Commercial,A Commercial by Safaricom on its appreciation ...,GE,-,No Impact Classifiable Elements,1 Secs,2024-01-07 00:00:00,Kenya,KFCB,Quite Bright Films,NaN,YouTube,uploaded,NaN
5,Afrisense Shea Butter,NaN,Commercial,A commercial about Afrisense Shea Butter a bat...,GE,-,No Impact Classifiable Elements,30 Secs,2024-01-07 00:00:00,Kenya,KFCB,Quite Bright Films,NaN,YouTube,uploaded,NaN

In [17]:
#shape of the dataset
df3.shape

(779, 16)

In [18]:
# Dataset information
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 779 entries, 1 to 779
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   FILM TITLE         778 non-null    object
 1   CLASS OF FILM      621 non-null    object
 2   GENRE              777 non-null    object
 3   SYNOPSIS           777 non-null    object
 4   RATING             778 non-null    object
 5   CAI                736 non-null    object
 6   JUSTIFICATION      751 non-null    object
 7   DURATION(MINS)     774 non-null    object
 8   DATE CLASSIFIED    777 non-null    object
 9   COUNTRY OF ORIGIN  778 non-null    object
 10  VENUE              773 non-null    object
 11  CLIENT             719 non-null    object
 12  CONTACT            41 non-null     object
 13  PLATFORM           742 non-null    object
 14  WEBSITE            487 non-null    object
 15  Unnamed: 16        1 non-null      object
dtypes: object(16)
memory usage: 103.5+ KB

### Merging Data for the three(3) Financial Years

In [19]:
# Merge all
merged_df = pd.concat([df1, df2, df3], ignore_index=True)

### Previewing the Merged Dataset

In [20]:
merged_df

,FILM TITLE,CLASS OF FILM,GENRE,SYNOPSIS,RATING,CAI,JUSTIFICATION,DURATION(MINS),DATE CLASSIFIED,COUNTRY OF ORIGIN,VENUE,CLIENT,CONTACT,PLATFORM,WEBSITE,Unnamed: 16
0,Rashtra Kavach OM,NaN,Action,Rashtra Karachi OM is an action Indian film de...,16,"V,A,S","Pain inflicting violence scenes,cold blood mur...",135,2022-01-07 00:00:00,India,Westgate,Century pictures,cedric@centurycinemax.net,Cinema,NaN,NaN
1,Rockecty -thr Nambi effect,NaN,Docu-drama,"Nambi, a patriotic scientist struggled hard to...",16,"V,A,L",The film contains use of violence and alcohol....,157,2022-01-07 00:00:00,India,Sarit Centre,Century pictures,cedric@centurycinemax.net,Cinema,NaN,NaN
2,THOR-Love and Thunder,NaN,Action- Adventure,Thor embarks on a journey unlike anything he ...,16,"V,N,S",the film contains violent scenes coupled with ...,120,2022-01-07 00:00:00,USA,Green span,Crimson Multimedia,Collins@crimsonmultimedia.com,Cinema,NaN,NaN
3,Kyalo culture episode 4,NaN,Reality Show,The story of Betty Kyallo continues ...this ep...,GE,-,minimal classifiable elements hence suitable f...,28,2022-04-07 00:00:00,Kenya,office/kfcb,Young Rich Tv,caroline@youngrichtv.com,Showmax,NaN,NaN
4,Roast house Sanaa,NaN,Comedy,Sanaipei Tande is brought into roasting seat w...,16,"L,A","the film contains use of vulgar language, use ...",29,2022-04-07 00:00:00,Kenya,office/kfcb,Young Rich Tv,caroline@youngrichtv.com,Showmax,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2585,Shanga Sn2 Ep 37,Series,Drama,The late Kaveke Musumbi's daughter visits Leda...,PG,V,Mild depiction of violence.,20,2025-04-06 00:00:00,Kenya,Kfcb Office,Zebra Productions,NaN,Maisha Magic Plus,NaN,NaN
2586,Shanga Sn2 Ep 38,Series,Drama,The late Musimbi's daughter feels Ledama is hi...,GE,-,Low impact classifiable elements,20,2025-04-06 00:00:00,Kenya,Kfcb Office,Zebra Productions,NaN,Maisha Magic Plus,NaN,NaN
2587,Shanga Sn2 Ep 39,Series,Drama,After his arrest and subsequent release from c...,GE,-,Low impact classifiable elements,21,2025-04-06 00:00:00,Kenya,Kfcb Office,Zebra Productions,NaN,Maisha Magic Plus,NaN,NaN
2588,Shanga Sn2 Ep 40,Series,Drama,Kelian visits Ledama and Soila in their house ...,GE,-,Low impact classifiable elements,22,2025-04-06 00:00:00,Kenya,Kfcb Office,Zebra Productions,NaN,Maisha Magic Plus,NaN,NaN
2589,Shanga Sn2 Ep 41,Series,Drama,Soila wants to make a deal with Naipei to get ...,GE,-,Low impact classifiable elements,21,2025-04-06 00:00:00,Kenya,Kfcb Office,Zebra Productions,NaN,Maisha Magic Plus,NaN,NaN

In [23]:
# Determining the number of columns and rows
merged_df.shape

(2590, 16)

In [24]:
# Merged dataset information
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2590 entries, 0 to 2589
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   FILM TITLE         2587 non-null   object
 1   CLASS OF FILM      621 non-null    object
 2   GENRE              2570 non-null   object
 3   SYNOPSIS           2519 non-null   object
 4   RATING             2569 non-null   object
 5   CAI                2224 non-null   object
 6   JUSTIFICATION      2312 non-null   object
 7   DURATION(MINS)     2479 non-null   object
 8   DATE CLASSIFIED    2450 non-null   object
 9   COUNTRY OF ORIGIN  2569 non-null   object
 10  VENUE              1683 non-null   object
 11  CLIENT             2053 non-null   object
 12  CONTACT            1217 non-null   object
 13  PLATFORM           2089 non-null   object
 14  WEBSITE            777 non-null    object
 15  Unnamed: 16        1 non-null      object
dtypes: object(16)
memory usage: 323.9+ KB

In [ ]:
# Define a cleaning function
def clean_df(df, year_range):
    df = df.dropna(how='all').reset_index(drop=True)
    
    for i, row in df.iterrows():
        if "FILM TITLE" in row.values:
            df.columns = row
            df = df[i+1:]
            break

    rename_map = {
        'NO': 'No',
        'FILM TITLE': 'Film Title',
        'CLASS OF FILM': 'Class of Film',
        'GENRE': 'Genre',
        'SYNOPSIS': 'Synopsis',
        'RATING': 'Rating',
        'CAI': 'CAI',
        'JUSTIFICATION': 'Justification',
        'DURATION(MINS)': 'Duration (mins)',
        'DATE CLASSIFIED': 'Date Classified',
        'COUNTRY OF ORIGIN': 'Country of Origin',
        'VENUE': 'Venue',
        'CLIENT': 'Client',
        'CONTACT': 'Contact',
        'PLATFORM': 'Platform',
        'WEBSITE': 'Website'
    }
    
    df = df.rename(columns=rename_map)
    df = df[[col for col in rename_map.values() if col in df.columns]]
    df['Year Range'] = year_range
    return df

In [26]:
# Clean each dataset
df2_clean = clean_df(df2, "2022-2023")
df3_clean = clean_df(df3, "2023-2024")
df4_clean = clean_df(df4, "2024-2025")

NameError: name 'clean_df' is not defined

In [ ]:
# Merge all
merged_df = pd.concat([df1_clean, df2_clean, df3_clean, df4_clean], ignore_index=True)

In [ ]:
merged_df

,No,Film Title,Class of Film,Genre,Synopsis,Rating,CAI,Justification,Duration (mins),Date Classified,Country of Origin,Venue,Client,Contact,Platform,Website,Year Range
0,1,Adisa,NaN,Drama,A humanitarian worker gets into an altercation...,PG,NaN,NaN,NaN,22/07/21,Kenya,NaN,Film Crew in Africa,NaN,NaN,NaN,NaN
1,2,Alive Again,NaN,Documentary,A Kenyan videographer gets relief when the Pre...,GE,NaN,NaN,NaN,16/07/2021,Kenya,NaN,indipendent producer,NaN,NaN,NaN,NaN
2,3,Black Widow,NaN,Action,Natasha Romanoff confronts the darker parts of...,PG,NaN,NaN,NaN,7th/7/21,USA,NaN,CRIMSON Multimedia,NaN,NaN,NaN,NaN
3,4,Bonjour Le Monde (Hello World),NaN,Animation,NaN,GE,NaN,NaN,NaN,NaN,France,NaN,Alliance Française,NaN,NaN,NaN,NaN
4,5,Drift,NaN,Action,A film about the root of families drifting apart,16,NaN,NaN,NaN,NaN,Kenya,NaN,indipendent producer,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3107,775,Shanga Sn2 Ep 37,Series,Drama,The late Kaveke Musumbi's daughter visits Leda...,PG,V,Mild depiction of violence.,20,2025-04-06 00:00:00,Kenya,Kfcb Office,Zebra Productions,NaN,Maisha Magic Plus,NaN,2024-2025
3108,776,Shanga Sn2 Ep 38,Series,Drama,The late Musimbi's daughter feels Ledama is hi...,GE,-,Low impact classifiable elements,20,2025-04-06 00:00:00,Kenya,Kfcb Office,Zebra Productions,NaN,Maisha Magic Plus,NaN,2024-2025
3109,777,Shanga Sn2 Ep 39,Series,Drama,After his arrest and subsequent release from c...,GE,-,Low impact classifiable elements,21,2025-04-06 00:00:00,Kenya,Kfcb Office,Zebra Productions,NaN,Maisha Magic Plus,NaN,2024-2025
3110,778,Shanga Sn2 Ep 40,Series,Drama,Kelian visits Ledama and Soila in their house ...,GE,-,Low impact classifiable elements,22,2025-04-06 00:00:00,Kenya,Kfcb Office,Zebra Productions,NaN,Maisha Magic Plus,NaN,2024-2025
3111,779,Shanga Sn2 Ep 41,Series,Drama,Soila wants to make a deal with Naipei to get ...,GE,-,Low impact classifiable elements,21,2025-04-06 00:00:00,Kenya,Kfcb Office,Zebra Productions,NaN,Maisha Magic Plus,NaN,2024-2025

In [ ]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3112 entries, 0 to 3111
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   No                 3112 non-null   object
 1   Film Title         3109 non-null   object
 2   Class of Film      621 non-null    object
 3   Genre              3088 non-null   object
 4   Synopsis           3024 non-null   object
 5   Rating             3089 non-null   object
 6   CAI                2224 non-null   object
 7   Justification      2312 non-null   object
 8   Duration (mins)    2479 non-null   object
 9   Date Classified    2943 non-null   object
 10  Country of Origin  3085 non-null   object
 11  Venue              1683 non-null   object
 12  Client             2526 non-null   object
 13  Contact            1217 non-null   object
 14  Platform           2089 non-null   object
 15  Website            777 non-null    object
 16  Year Range         2590 non-null   object
dtypes: object(17)
memory usage: 413.4+ KB

In [ ]:
merged_df.isnull().sum()

No                      0
Film Title              3
Class of Film        2491
Genre                  24
Synopsis               88
Rating                 23
CAI                   888
Justification         800
Duration (mins)       633
Date Classified       169
Country of Origin      27
Venue                1429
Client                586
Contact              1895
Platform             1023
Website              2335
Year Range            522
dtype: int64

In [ ]:
# Example: get counts
counts = merged_df.count()
total_rows = len(merged_df)

# Calculate percentage
percentages = (counts / total_rows) * 100

# Combine in a DataFrame
result = pd.DataFrame({
    'None - Null Count': counts,
    'Percentage': percentages.round(2)
})

# Sort ascending by percentage
result_sorted = result.sort_values(by='Percentage', ascending=True)

print(result_sorted)

                   None - Null Count  Percentage
Class of Film                    621       19.96
Website                          777       24.97
Contact                         1217       39.11
Venue                           1683       54.08
Platform                        2089       67.13
CAI                             2224       71.47
Justification                   2312       74.29
Duration (mins)                 2479       79.66
Client                          2526       81.17
Year Range                      2590       83.23
Date Classified                 2943       94.57
Synopsis                        3024       97.17
Country of Origin               3085       99.13
Genre                           3088       99.23
Rating                          3089       99.26
Film Title                      3109       99.90
No                              3112      100.00

In [ ]:
merged_df['Class of Film'].value_counts()

Class of Film
Series           489
Film              36
Movie             30
movie             25
series             8
Trailer            8
Series             7
film               6
Commercial         5
Movie              3
Short Film         1
Trailer 1          1
Trailer 2          1
CLASS OF FILM      1
Name: count, dtype: int64

In [ ]:
# Convert all values to lowercase and strip leading/trailing whitespace:

merged_df['Class of Film'] = merged_df['Class of Film'].str.lower().str.strip()

In [ ]:
merged_df['Class of Film'].value_counts()

Class of Film
series           504
movie             58
film              42
trailer            8
commercial         5
short film         1
trailer 1          1
trailer 2          1
class of film      1
Name: count, dtype: int64

In [ ]:
# Create a mapping for standardization
class_map = {
    'film': 'film',
    'movie': 'film',
    'short film': 'short film',
    'series': 'series',
    'trailer': 'trailer',
    'commercial': 'advertisement',
    'trailer 1': 'trailer',
    'trailer 2': 'trailer',
    'class of film': None  # likely a junk value
}

In [ ]:
#Apply the mapping (handle unmapped values too)
merged_df['Class of Film'] = merged_df['Class of Film'].map(class_map)

In [ ]:
merged_df =merged_df[merged_df['Class of Film'].notnull()]

In [ ]:
merged_df['Class of Film'].value_counts()

Class of Film
series           504
film             100
trailer           10
advertisement      5
short film         1
Name: count, dtype: int64

In [ ]:
merged_df['Class of Film'].isnull().sum()

np.int64(0)

In [ ]:
merged_df.isnull().sum()

No                     0
Film Title             0
Class of Film          0
Genre                  0
Synopsis               1
Rating                 0
CAI                   11
Justification          9
Duration (mins)        3
Date Classified        1
Country of Origin      0
Venue                  4
Client                24
Contact              609
Platform              31
Website              285
Year Range             0
dtype: int64

In [ ]:

if duration < 5:
    class = 'Advertisement'
elif duration < 20:
    class = 'Short Film'
elif duration < 60:
    class = 'TV Episode'
else:
    class = 'Feature Film'

SyntaxError: invalid syntax (2900954353.py, line 2)